@page "/ProductPages/Add"
@using BlazorApp.Models
@using BlazorApp.Gateway

<h3>Add</h3>

<h4>@message</h4>

<EditForm Model="@product"  OnValidSubmit="AddProduct">
    <DataAnnotationsValidator></DataAnnotationsValidator>
  

    <div class="row">
        <div class="col-6">
            <label>Name</label>
            <InputText class="form-control" @bind-Value="product.Name">Name</InputText>
            <ValidationMessage For="@(()=>product.Name)"/> 
        </div>
        <div class="col-6">
            <label>Type</label>
            <InputText class="form-control" @bind-Value="product.Type">Type</InputText>
            <ValidationMessage For="@(()=>product.Type)" /> 
        </div>

    </div>
    <button class="btn btn-info mt-2" type="submit">Saved</button>

</EditForm>

@code {
    string message = null;
 
    Product product = new Product();
 
    ProductGateway gateway = new ProductGateway();
    void AddProduct()
    {
        bool isSaved = gateway.Add(product);
        if(isSaved)
        {
            product = new Product();
            message = "Saved Successfully";
        }


    }

}
