@page "/ProductPages/ProductList"

@using BlazorApp.Models
@using BlazorApp.Gateway


 <p>Product List Data</p>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody>
        @foreach(var product in Products)
        {
        <tr>

            <td>@product.Name</td>
            <td>@product.Type</td>
            <a href="/ProductPages/Edit/@product.Id">Edit</a>
        </tr>
        }
    </tbody>
</table>


@code {
    [Parameter]
    public int Id { get; set; }

    List<Product> Products = null;

    ProductGateway gateway = new ProductGateway();


    protected override void  OnInitialized()
    {
        Products = gateway.GetAll();
    }

}
